anyio
cffi==1.15.1
click
fastapi
greenlet
h11
idna
psycopg2
pycparser==2.21
pydantic
python-dotenv
sniffio
SQLAlchemy
srt==3.5.2
starlette
tqdm==4.64.1
typing_extensions
uvicorn
vosk==0.3.44
websockets==10.3
